.menu_mobile
{
	display: none;
}
@media only screen and (max-width: 480px)
{
	#wrapper
	{
		width: 97%;
	}
	#container
	{
		width: 100%;
		overflow: hidden !important;
	} 
	#header, #footer
	{
		width: 100% !important;
	}
	#header .header
	{
		width: 100%;
	}
	#header .div1
	{
		width: 100% !important;
	}
	#header .div0
	{
		/*display: none;*/
	}
	#header .div1 .logo img
	{
		width:63%;
	}
	/*================ menu mobile ===================*/
	.menu_mobile
	{
		clear: both;
		display: block;
		width: 100%;
		background-color: #585C62;
		height: 39px; 
	}
	#myDropdown
	{
		z-index: 10;
	}
	#myDropdown a
	{

	}
	.dropbtn {
	    background-color: #4CAF50;
	    color: white;
	    font-size: 20px;
	    border: none;
	    cursor: pointer;
	    height: 100%;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: #3e8e41;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    overflow: hidden;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    width: 100%;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    width: 100%;
	    font-size: 20px;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.show {
		display:block;
	}

	.dropdown-submenu {
	    position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    margin-left: -1px;
	    -webkit-border-radius: 0 6px 6px 6px;
	    -moz-border-radius: 0 6px 6px;
	    border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover>.dropdown-menu {
	    display: block;
	}

	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 5px;
	    margin-right: -10px;
	}

	.dropdown-submenu:hover>a:after {
	    border-left-color: #fff;
	}

	.dropdown-submenu.pull-left {
	    float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	    -webkit-border-radius: 6px 0 6px 6px;
	    -moz-border-radius: 6px 0 6px 6px;
	    border-radius: 6px 0 6px 6px;
	}
	/**/
	#myDropdown ul.litop, #myDropdown ul.menunews
	{
		font-size: 21px;
		padding-left: 16px !important;
	}
	#myDropdown ul li a
	{
		font-size: 18px !important;
	}
	#myDropdown ul li 
	{
		padding-right: 30px !important;
	}
	.hide_submenu
	{
		display: none;
	}
	.show_submenu
	{
		display: block;
	}
	/*========= menu ===========*/
	#menu
	{
		display: none;
	}
	/*========= breadcrumb ======*/
	#breadcrumb
	{
		display: none;
	/*	width: 80%;
		height: auto !important;*/
	}
	#breadcrumb ul
	{
		line-height: 30px;
	}
	#breadcrumb ul li h1, #breadcrumb ul li a, #breadcrumb ul li span 
	{
		font-size: 25px !important;
	}
	#breadcrumb #addthis
	{
		display: none;
	}
	/*============================*/
	/*=========== main content=============*/
	#content
	{
		width: 97% !important;
		clear: both;
	}
	#content .slideshow
	{
		display: none;
	}
	/*========= List product ========*/
	ul.list {
	  width: 100% !important;
	}
	.list li
	{
		width: 100% !important;
	}
	.list li.ldisplayprice
	{
		height: auto !important;
	}
	.list li .lpro
	{
		width: 100% !important; 
		height: auto !important;
	}
	.list li .lpro img
	{
		width: 85% !important; 
		margin-top: 15px;
	}
	.list li .ltitle
	{
		height: auto !important;
		width: 76%;
		margin: 0 auto;
	}
	.list li .ltitle a
	{
		font-size: 55px;
	}
	.list li .lprice {
	  font-size: 20px;
	  height: auto !important;
	  margin-bottom: 15px;
	}
	.list li .lpro
	{
		padding: unset !important; 
	}
	#content .middle.listpro
	{
		border: 1px solid #666;
	}
	/*========= Right main ========*/
	#column_right
	{
		clear: both;
		width: 100% !important;
		margin-right: 5px;
	}
	#column_right .sanphambanchay
	{
		display: none;
	}
	#column_right .box .support
	{
		width: 100% !important;
		height: auto;
		line-height: 40px !important;
		font-size: 25px !important;
	}
	.box .middle table.hotro td.tdtop {
	  font-size: 20px;
	}
	.box .middle table.hotro td.tdbottom {
	  text-align: center;
	}
	.hotro tr
	{
		border-bottom: 2px solid #000;
	}
	.hotro .tdtop a img
	{
		display: none;
	}
	.hotro .tdbottom a img
	{
		display: none;
	}
	#column_right .box .top {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	.hotroonline img{
		display: none;
	}
	#column_right .box .top h3{
		background-color: #3B5998 !important;
	    line-height: 32px !important;
	    padding: 0 15px 0 10px;
	    float: unset;
	    width: 92%;
	    font-size: 20px;
	    height: 100%;
	}
	.sblist li
	{
		width: 100%;
		height: auto !important;
	}
	.lienket
	{
		display: none;
	}
	.sb_news li ul li .sn_image
	{
		float: unset;
	}

	/*====news right box ====*/
	.box.news li ul li a {
	  height: auto !important;
	  font-size: 22px !important;
	  font-weight: bold;
	  text-align: center;
	}
	.sb_news li ul li .sn_image {
	  height: auto !important;
	  width: 96% !important;
	}
	.sb_news li ul li img {
	  height: auto !important;
	  width: 100% !important;
	}
	.sb_news li ul li {
	  height: auto !important;
	}
	.sb_news li ul li .sn_name
	{
		max-height: auto !important;
	}
	.sb_news li ul li .sn_name {
	  height: auto !important;
	  max-height: 200px !important;
	  /*overflow: hidden;*/
	}
	.sb_news li ul li .sn_date_added {
	  font-size: 15px !important;
	}
	.news .middle .sb_xemthem, .news .middle .bx-prev, .news .middle .bx-next
	{
		display: none;
	}
	/*========= name category ========*/
	#content .top h1, #content .top h2 {
	  line-height: 25px !important;
	  padding: 0 15px 0 10px;
	}
	#content .top {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	#content .top .center {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	#content h1, #content h2 {
	  font-size: 20px;
	}
	/*============= footer ==================*/
	#news ul li {
	  padding-right: 9px !important;
	}
	#footer
	{
		padding: unset !important;
	}
	#footer .div0 .f_showroom
	{
		width: 100% !important;
	}
	#footer .f_showroom .f_top {
	  height: auto !important;
	}
	#footer .f_showroom .f_middle {
	    padding: 0 10px;
	}
	#footer h3.f_top_name {
	  font-size: 20px !important;
	  line-height: 21px !important;
	  padding: 0 10px;
	}
	.f_showroom .fsinfo, #footer .div0 .f_showroom p {
	  height: auto !important;
	  line-height: 20px !important;
	}
	#footer .div0 .f_info {
	  font-size: 35px !important;
	  width: 94% !important;
	  line-height: 23px !important;
	}
	#footer .div1
	{
		display: none;
	}
	#footer .div2 {
	  float: unset !important;
	  text-align: center !important;
	}
	.f_info .f_middle
	{
		width: 100% !important;
	}
	.hotkeyword .hkey_info span
	{

	}
	/*============Category detail ==========*/
	#content .middle.listpro
	{
		
	}
	#content .middle
	{
		padding: 10px;
	}
	#content .middle ul li span
	{
		font-size: 15px !important;
	}
	#content .middle h2 span span 
	{
		font-size: 20px !important;
	}
	#content .middle p, #content .middle p span, #content .middle table tr td span
	{
		font-size: 15px !important;
	}
	.listpro .sort {
	  height: auto;
	}

	.sort
	{
		margin-right: 10px;
	}
	.sort select {
	  font-size: 18px !important;
	}
	.sort .div2 {
	  font-size: 18px !important;
	  padding-bottom: 6px;
	}
	
	 /* ============= news =============== */
	.newslist .middle table tr td
	{
		font-size: 14px !important;
	}
	.newslist .middle table tr td div
	{
		font-size: 11px !important;
		color: #f00;
	}
	.newslist .middle table tr td a img
	{
		display: none;
	}
	 /*======= news detail ========*/
	#news ul li {
	  font-size: 15px;
	}
	.news_date_add
	{
		display: none;
	}
	.content2 input[type="text"],.content2 input[type="password"] {
	  font-size: 40px;
	  height: 47px;
	  width: 33%;
	}
	 /*========== product detail ====================*/
	#add_to_cart span {
	  background: #EB6501 !important;
	  font-size: 22px !important;
	  line-height: 26px !important;
	  color: #fff;
	}
	#add_to_cart:hover span {
	  background: #fff !important;
	  font-size: 22px !important;
	  color: #EB6501;
	  line-height: 26px !important;
	}
	.tab_product {
	  height: auto !important;
	}
	.tab_product .tabs {
		height: auto !important;
	}

	#tab_technical_description p span
	{
		font-size: 15px !important;
	}
	#tab_review #review_title 
	{
		font-size: 15px !important;
	}
	.heading
	{
		font-size: 20px !important;
	}
	.tabs a
	{
		height: auto !important;
		line-height: 22px !important;
	}
	.tabs a.selected {
	  background: #3b5998 none repeat scroll 0 0;
	  padding-top: unset;
	}
	#tab_description h2 span span
	{
		font-size: 15px !important;
	}
	#tab_description p span span img
	{
		width: 100% !important;
		height: auto !important;
	}

	#tab_description p span, #tab_description a
	{
		font-size: 15px !important;
	}
	.tab_page
	{
		font-size: 15px !important;
	}
	#content a, #content b
	{
		font-size: 15px !important;
		/*padding: 0 5px;*/
	}
	#tab_review .content2 span
	{
		font-size: 15px !important;
	}
	#content .middle p img
	{
		width: 100% !important;
		height: auto !important;
	}
	#content .middle table tr td .image
	{
		width: unset;
	}
	#content .middle table tr td .image img
	{
		width: 100% !important;
		height: auto !important;
	}
	.content2 input[type="text"], .content2 input[type="password"] {
	  font-size: 20px !important;
	  height: auto !important;
	  width: unset;
	}
	#captcha
	{
		width: 100%;
	}
	/*=========== Đăng nhập - đăng ký button header =================*/

	#showuser a
	{
		height: 25px !important;
		line-height: 25px !important;
		margin-right: 20px;
	}
	#showuser a span.cbaspan {
	  /*font-size: 50px;*/
	  height: auto;
	  margin-right: 10px; 
	}
	#header .div0 .search, #header .div0 #cart-online
	{
		display: none;
	}
	/*=========== Warring - cart =========== */
	.warning
	{
		font-size: 40px !important;
	}
	.cart tr td a img {
	  height: auto !important;
	  padding-right: 10px;
	  width: 100% !important;
	}
	.cart tr td {
  		font-size: unset !important;
	}
	.cart tr td div {
	 	font-size: unset !important;
	}
	.bc-next span
	{
		display: none;
	}
	/*============ popup =====================*/
	#colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent
	{
		width: 100% !important;
	}
	#cboxWrapper, #cboxContent, #cboxLoadedContent, #cboxMiddleLeft
	{
		height: 100% !important;
	}
	#colorbox
	{
		height: 391px !important;
		overflow: visible !important;
	}
	.popup
	{
		height: 385px;
	}
	.popup, .popuptitle, .popupmiddle
	{
		width: 100% !important;
	}
	.popup .popuptitle
	{
		font-size: 20px !important;
	}
	.popup table tr td b
	{
		font-size: 22px;
	}
	.popup table tr td a
	{
		margin-top: unset !important;
	}
	.popup input {
		width: 71% !important;
		height: 28px !important;
		font-size: 20px !important;
	}
	.popup .popupmiddle a
	{
		font-size: 15px !important;
	}
	.popup .popupmiddle table tr td a
	{
		font-size: 20px !important;
		margin-bottom: 56%; 
	}
	.popup .button span, a.button span {
	  background: #EB6501 !important;
	  line-height: 26px !important;
	  color: #fff;
	  text-align: center;
	}
	.popup .button:hover span, a.button:hover span {
	  background: #fff !important;
	  color: #EB6501;
	  font-size: 20px !important;
	  line-height: 26px !important;
	}
	#cboxTopRight {
		width: unset;
		height: unset; 
	}
	#cboxOverlay
	{
		cursor: pointer !important; 
	}
	#cboxMiddleRight, #cboxBottomLeft, #cboxBottomMiddle, #cboxBottomRight,
	#cboxTopLeft, #cboxTopMiddle, #cboxTopRight, #cboxBottomCenter, #cboxTopCenter
	{
		display: none;
	}
	/*======CSS Dang Ky =====*/
	#content .middle .address b, #content .thongtincanhan b  {
	 font-size: 22px !important;
	}

	.content td input[type="text"], .content input[type="password"], .content td input[type="name"] {
	   font-size: 11px;
	   height: 3em;
	   padding: 0;
	   margin-right: 3em!important;
	   margin-top: 1em!important;
	   width: 143px;
	   max-width: 150px; 
	   border: 1px solid #808080;

	 }
	.content table td select {
	 width: 60%;
	 height: 2em;
	 font-size: 14px;
	 padding-left: 1em;
	 
	}
	#country_id option{
	 font-size:13px !important;
	 padding:0!important;
	}

	#content #contact table tr >td {
	    font-size: 15px !important;
	}

	.buttons table td{
	 height: 3em;
	 text-align: center;
	}
	.buttons table td:hover{
	   height: 3em;
	   text-align: center;
	}
	#content .middle .warning {
	 font-size: 2.5em;
	}

	/*====css Lien He ====*/
	.content td img{
	 width: 35%;
	}
	.content td textarea{
	 font-size:1em;
	 height: 8em;
	}
	/*====== Pagination ====== */

	.listpro .pagination, .pagination
	{
		width: 100%;
		height: auto;
	}
	.pagination .links a, .pagination .links b
	{
		font-size: 11px !important;
	}
	.pagination .results {
	  font-size: 14px;
	  margin-right: 30px;
	}
	/*============ Search mobile ==============*/
	.search_mobile .search
	{
		margin-right: 8px;
	    margin-top: 10px;
	    width: 95% !important;
	}
	.search_mobile .search input
	{
		width: 90% !important;
	}
}

/*===========================================================*/

@media only screen and (min-width: 480px) and (max-width: 768px)
{
	#wrapper
	{
		width: 97%;
	}
	#container
	{
		width: 100%;
		overflow: hidden !important;
	} 
	#header, #footer
	{
		width: 100% !important;
	}
	#header .header
	{
		width: 100%;
	}
	#header .div1
	{
		width: 100% !important;
	}
	#header .div0
	{
		/*display: none;*/
	}
	#header .div1 .logo img
	{
		width:63%;
	}
	/*================ menu mobile ===================*/
	.menu_mobile
	{
		clear: both;
		display: block;
		width: 100%;
		background-color: #585C62;
		height: 39px; 
	}
	#myDropdown
	{
		z-index: 10;
	}
	#myDropdown a
	{

	}
	.dropbtn {
	    background-color: #4CAF50;
	    color: white;
	    font-size: 20px;
	    border: none;
	    cursor: pointer;
	    height: 100%;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: #3e8e41;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    overflow: auto;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    width: 100%;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    width: 100%;
	    font-size: 20px;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.show {display:block;}
	/*========= menu ===========*/
	#menu
	{
		display: none;
	}
	/*========= breadcrumb ======*/
	#breadcrumb
	{
		display: none;
	/*	width: 80%;
		height: auto !important;*/
	}
	#breadcrumb ul
	{
		line-height: 30px;
	}
	#breadcrumb ul li h1, #breadcrumb ul li a, #breadcrumb ul li span 
	{
		font-size: 25px !important;
	}
	#breadcrumb #addthis
	{
		display: none;
	}
	/*============================*/
	/*=========== main content=============*/
	#content
	{
		width: 97% !important;
		clear: both;
	}
	#content .slideshow
	{
		display: none;
	}
	/*========= List product ========*/
	ul.list {
	  width: 100% !important;
	}
	.list li
	{
		width: 100% !important;
	}
	.list li.ldisplayprice
	{
		height: auto !important;
	}
	.list li .lpro
	{
		width: 100% !important; 
		height: auto !important;
	}
	.list li .lpro img
	{
		width: 100% !important; 
	}
	.list li .ltitle
	{
		height: auto !important;
	}
	.list li .ltitle a
	{
		font-size: 55px;
	}
	.list li .lprice {
	  font-size: 20px;
	  height: auto !important;
	}
	.list li .lpro
	{
		padding: unset !important; 
	}
	#content .middle.listpro
	{
		border: 1px solid #666;
	}
	/*========= Right main ========*/
	#column_right
	{
		clear: both;
		width: 100% !important;
		margin-right: 5px;
	}
	#column_right .sanphambanchay
	{
		display: none;
	}
	#column_right .box .support
	{
		width: 100% !important;
		height: auto;
		line-height: 40px !important;
		font-size: 25px !important;
	}
	.box .middle table.hotro td.tdtop {
	  font-size: 20px;
	}
	.box .middle table.hotro td.tdbottom {
	  text-align: center;
	}
	.hotro tr
	{
		border-bottom: 2px solid #000;
	}
	.hotro .tdtop a img
	{
		display: none;
	}
	.hotro .tdbottom a img
	{
		display: none;
	}
	#column_right .box .top {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	.hotroonline img{
		display: none;
	}
	#column_right .box .top h3{
		background-color: #3B5998 !important;
	    line-height: 32px !important;
	    padding: 0 15px 0 10px;
	    float: unset;
	    width: 92%;
	    font-size: 20px;
	    height: 100%;
	}
	.sblist li
	{
		width: 100%;
		height: auto !important;
	}
	.lienket
	{
		display: none;
	}
	.sb_news li ul li .sn_image
	{
		float: unset;
	}

	/*====news right box ====*/
	.box.news li ul li a {
	  height: auto !important;
	  font-size: 22px !important;
	  font-weight: bold;
	  text-align: center;
	}
	.sb_news li ul li .sn_image {
	  height: auto !important;
	  width: 96% !important;
	}
	.sb_news li ul li img {
	  height: auto !important;
	  width: 100% !important;
	}
	.sb_news li ul li {
	  height: auto !important;
	}
	.sb_news li ul li .sn_name
	{
		max-height: auto !important;
	}
	.sb_news li ul li .sn_name {
	  height: auto !important;
	  max-height: 200px !important;
	  /*overflow: hidden;*/
	}
	.sb_news li ul li .sn_date_added {
	  font-size: 15px !important;
	}
	.news .middle .sb_xemthem, .news .middle .bx-prev, .news .middle .bx-next
	{
		display: none;
	}
	/*========= name category ========*/
	#content .top h1, #content .top h2 {
	  line-height: 25px !important;
	  padding: 0 15px 0 10px;
	}
	#content .top {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	#content .top .center {
		background-color: #3B5998 !important;
		height: auto !important;
	}
	#content h1, #content h2 {
	  font-size: 20px;
	}
	/*============= footer ==================*/
	#news ul li {
	  padding-right: 9px !important;
	}
	#footer
	{
		padding: unset !important;
	}
	#footer .div0 .f_showroom
	{
		width: 100% !important;
	}
	#footer .f_showroom .f_top {
	  height: auto !important;
	}
	#footer .f_showroom .f_middle {
	    padding: 0 10px;
	}
	#footer h3.f_top_name {
	  font-size: 20px !important;
	  line-height: 21px !important;
	  padding: 0 10px;
	}
	.f_showroom .fsinfo, #footer .div0 .f_showroom p {
	  height: auto !important;
	  line-height: 20px !important;
	}
	#footer .div0 .f_info {
	  font-size: 35px !important;
	  width: 94% !important;
	  line-height: 23px !important;
	}
	#footer .div1
	{
		display: none;
	}
	#footer .div2 {
	  float: unset !important;
	  text-align: center !important;
	}
	.f_info .f_middle
	{
		width: 100% !important;
	}
	.hotkeyword .hkey_info span
	{

	}
	/*============Category detail ==========*/
	#content .middle.listpro
	{
		
	}
	#content .middle
	{
		padding: 10px;
	}
	#content .middle ul li span
	{
		font-size: 15px !important;
	}
	#content .middle h2 span span 
	{
		font-size: 20px !important;
	}
	#content .middle p, #content .middle p span, #content .middle table tr td span
	{
		font-size: 15px !important;
	}
	.listpro .sort {
	  height: auto;
	}

	.sort
	{
		margin-right: 10px;
	}
	.sort select {
	  font-size: 26px !important;
	}
	.sort .div2 {
	  font-size: 25px !important;
	  padding-bottom: 6px;
	}
	
	 /* ============= news =============== */
	.newslist .middle table tr td
	{
		font-size: 14px !important;
	}
	.newslist .middle table tr td div
	{
		font-size: 11px !important;
		color: #f00;
	}
	.newslist .middle table tr td a img
	{
		display: none;
		/*width: 360px !important;
		height: auto !important;
		padding-right: 10px;*/
	}
	 /*======= news detail ========*/
	#news ul li {
	  font-size: 15px;
	}
	.news_date_add
	{
		display: none;
	}
	.content2 input[type="text"],.content2 input[type="password"] {
	  font-size: 40px;
	  height: 47px;
	  width: 33%;
	}
	 /*========== product detail ====================*/
	#add_to_cart span {
	  background: #EB6501 !important;
	  font-size: 22px !important;
	  line-height: 26px !important;
	  color: #fff;
	}
	#add_to_cart:hover span {
	  background: #fff !important;
	  font-size: 22px !important;
	  color: #EB6501;
	  line-height: 26px !important;
	}
	.tab_product {
	  height: auto !important;
	}
	.tab_product .tabs {
		height: auto !important;
	}

	#tab_technical_description p span
	{
		font-size: 15px !important;
	}
	#tab_review #review_title 
	{
		font-size: 15px !important;
	}
	.heading
	{
		font-size: 20px !important;
	}
	.tabs a
	{
		height: auto !important;
		line-height: 22px !important;
	}
	.tabs a.selected {
	  background: #3b5998 none repeat scroll 0 0;
	  padding-top: unset;
	}
	#tab_description h2 span span
	{
		font-size: 15px !important;
	}
	#tab_description p span span img
	{
		width: 100% !important;
		height: auto !important;
	}

	#tab_description p span, #tab_description a
	{
		font-size: 15px !important;
	}
	.tab_page
	{
		font-size: 15px !important;
	}
	#content a, #content b
	{
		font-size: 15px !important;
		padding: 0 5px;
	}
	#tab_review .content2 span
	{
		font-size: 15px !important;
	}
	#content .middle p img
	{
		width: 100% !important;
		height: auto !important;
	}
	#content .middle table tr td .image
	{
		width: unset;
	}
	#content .middle table tr td .image img
	{
		width: 100% !important;
		height: auto !important;
	}
	.content2 input[type="text"], .content2 input[type="password"] {
	  font-size: 20px !important;
	  height: auto !important;
	  width: unset;
	}
	#captcha
	{
		width: 100%;
	}
	/*=========== Đăng nhập - đăng ký button header =================*/

	#showuser a
	{
		height: 25px !important;
		line-height: 25px !important;
		margin-right: 20px;
	}
	#showuser a span.cbaspan {
	  /*font-size: 50px;*/
	  height: auto;
	  margin-right: 10px; 
	}
	#header .div0 .search, #header .div0 #cart-online
	{
		display: none;
	}
	/*=========== Warring - cart =========== */
	.warning
	{
		font-size: 40px !important;
	}
	.cart tr td a img {
	  height: auto !important;
	  padding-right: 10px;
	  width: 100% !important;
	}
	.cart tr td {
  		font-size: unset !important;
	}
	.cart tr td div {
	 	font-size: unset !important;
	}
	.bc-next span
	{
		display: none;
	}
	/*============ popup =====================*/
	#colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent
	{
		width: 100% !important;
	}
	#cboxWrapper, #cboxContent, #cboxLoadedContent, #cboxMiddleLeft
	{
		height: 100% !important;
	}
	#colorbox
	{
		height: 800px !important;
		overflow: visible !important;
	}
	.popup
	{
		height: auto !important;
	}
	.popup, .popuptitle, .popupmiddle
	{
		width: 100% !important;
	}
	.popup .popuptitle
	{
		font-size: 20px !important;
	}
	.popup table tr td b
	{
		font-size: 22px;
	}
	.popup table tr td a
	{
		margin-top: unset !important;
	}
	.popup input {
		width: 71% !important;
		height: 28px !important;
		font-size: 20px !important;
	}
	.popup .popupmiddle a
	{
		font-size: 15px !important;
	}
	.popup .popupmiddle table tr td a
	{
		font-size: 20px !important;
		margin-bottom: 56%; 
	}
	.popup .button span, a.button span {
	  background: #EB6501 !important;
	  line-height: 26px !important;
	  color: #fff;
	  text-align: center;
	}
	.popup .button:hover span, a.button:hover span {
	  background: #fff !important;
	  color: #EB6501;
	  font-size: 20px !important;
	  line-height: 26px !important;
	}
	#cboxTopRight {
		width: unset;
		height: unset; 
	}
	#cboxOverlay
	{
		cursor: pointer !important; 
	}
	#cboxMiddleRight, #cboxBottomLeft, #cboxBottomMiddle, #cboxBottomRight,
	#cboxTopLeft, #cboxTopMiddle, #cboxTopRight, #cboxBottomCenter, #cboxTopCenter
	{
		display: none;
	}
	/*======CSS Dang Ky =====*/
	#content .middle .address b, #content .thongtincanhan b  {
	 font-size: 22px !important;
	}

	.content td input[type="text"], .content input[type="password"], .content td input[type="name"] {
	   font-size: 11px;
	   height: 3em;
	   padding: 0;
	   margin-right: 3em!important;
	   margin-top: 1em!important;
	   width: 143px;
	   max-width: 150px; 
	   border: 1px solid #808080;

	 }
	.content table td select {
	 width: 60%;
	 height: 2em;
	 font-size: 14px;
	 padding-left: 1em;
	 
	}
	#country_id option{
	 font-size:13px !important;
	 padding:0!important;
	}

	#content #contact table tr >td {
	    font-size: 15px !important;
	}

	.buttons table td{
	 height: 3em;
	 text-align: center;
	}
	.buttons table td:hover{
	   height: 3em;
	   text-align: center;
	}
	#content .middle .warning {
	 font-size: 2.5em;
	}

	/*====css Lien He ====*/
	.content td img{
	 width: 35%;
	}
	.content td textarea{
	 font-size:1em;
	 height: 8em;
	}
	/*====== Pagination ====== */

	.listpro .pagination, .pagination
	{
		width: 100%;
		height: auto;
	}
	.pagination .links a, .pagination .links b
	{
		font-size: 11px !important;
	}
	.pagination .results {
	  font-size: 14px;
	  margin-right: 30px;
	}
	/*======== search mobile ===============*/
	.search_mobile .search
	{
		margin: 10px 10px 0 0 !important;
	}
}
